altgraph==0.17.2
async-generator==1.10
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
chromedriver-autoinstaller==0.2.2
comtypes==1.1.11
cryptography==37.0.2
future==0.18.2
h11==0.12.0
idna==3.3
lxml==4.9.1
outcome==1.1.0
pdfminer.six==20220524
pdfplumber==0.7.1
pefile==2021.9.3
Pillow==9.1.1
pycparser==2.20
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
pyOpenSSL==21.0.0
PyPDF2==1.26.0
python-dateutil==2.8.2
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinauto==0.6.8
requests==2.26.0
selenium==4.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
Wand==0.6.7
wincertstore==0.2
wsproto==1.0.0
XlsxWriter==3.0.1
